<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/output.css">
</head>
<body>
  <div class="w-full min-h-screen bg-zinc-900 p-10" >
    <h3 class="text-white tracking-tighter text-3xl mb-5">Upload ProfilePic</h3>
    <div class="flex flex-col justify-center items-center gap-5">
      <div class=""> 
        <% console.log(user.profileImg.filename) %>
        <% if(user.profileImg.filename == undefined) { %>
          <img src="/images/uploads/defaultProfileImg.png" class="w-64 h-64 object-cover rounded-full" alt="">
        <% } else { %>
          <img src="/profileImg/<%= user._id %>" class="w-64 h-64 object-cover rounded-full" alt="">
        <% } %>
      </div>
      <div>
        <form  action="/profileImg/upload" method="post" enctype="multipart/form-data">
          <input class="rounded-md text-white" type="file" name="profileImageInput">
          <input class="px-3 py-2 rounded-md bg-blue-500 cursor-pointer text-white" type="submit" value="Upload file">
        </form>
      </div>
    </div>
  </div>
</body>
</html>
